<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logodefinitivo.png">
    <link rel="stylesheet" href="estilos.css">
    <title>Entretenimiento</title>
</head>

<body>
<main class="main-entretenimiento">
        <img src="/images/bannerentretenimiento.jpeg">
        <h2>Aventuras Increíbles</h2>
        <p>Explorar una nueva ciudad significa sumergirse en sus atractivos únicos y descubrir los tesoros que tiene para 
            ofrecer. Buenos Aires es conocida por su vibrante vida cultural, su rica historia y sus múltiples opciones de
            entretenimiento. Desde teatros históricos y museos fascinantes hasta parques encantadores y animadas plazas,
            hay algo para todos los gustos. Hemos recopilado una lista de los mejores lugares de entretenimiento
        </p>
            <section>
                <img src="/images/teatricolon.png">
                <div>
                    <h2>TEATRO COLÓN</h2>
                    <div>
                        <img src="/images/maps.svg">
                        <p>Tucumán 1171, CABA</p>
                    </div>
                    <h4>Temática: Teatro de Ópera</h4>
                    <p>
                        El Teatro Colón inició sus actividades en 1857 en un edificio ubicado en la Plaza de Mayo, donde
                        funcionó hasta 1888. El teatro se mudó entonces al edificio actual ubicado frente a la Plaza Vaticano,
                        que tardó 20 años en ser construido hasta su inauguración en 1908.</p>
                    <a href="https://teatrocolon.org.ar/">Sitio oficial del Teatro Colón</a>
                </div>
            </section>
            <section>
                <img src="/images/plazademayo.png">
                <div>
                    <h2>PLAZA DE MAYO</h2>
                    <div>
                        <img src="/images/maps.svg">
                        <p>Av. Hipólito Yrigoyen, CABA</p>
                    </div>
                    <h4>Temática: Teatro de Ópera</h4>
                    <p>Su nombre es en homenaje a la Revolución del 25 de Mayo de 1810,
                    que ocurrió en esta misma plaza y que dio inicio a la gesta de la
                    Independencia argentina, a partir de la cual se comenzó a
                    elegir una forma de gobierno propia.</p>
                </div>
            </section>
            <section>
                <img src="/images/teatropiazzola.png">
                <div>
                    <h2>TEATRO PIAZZOLLA</h2>
                    <div>
                        <img src="/images/maps.svg">
                        <p>Galería Güemes, Florida 165, CABA</p>
                    </div>
                    <h4>Temática: Teatro de Tango</h4>
                    <p>
                        Ubicado en el centro de Buenos Aires, ofrece Shows de Tango todas las noches con precios a partir de los
                        $80 dólares, también pueden realizar Clases de Tango que tiene un costo de $60 dólares.
                        Tendrás la opción de elegir con o sin cena. Los menores de 3 años no abonan y hay descuentos para los
                        menores de 11 años.
                        </p>
                    <a href="https://teatroastorpiazzolla.com/es/">Sitio oficial del Teatro Piazzolla</a>   
                </div>
            </section>
            <section>
                <img src="/images/puertomadero.png">
                <div>
                    <h2>PUERTO MADERO</h2>
                    <div>
                        <img src="/images/maps.svg">
                        <p>Al este de CABA
                        </p>
                    </div>
                    <h4>Temática: Recorrido con entretenimientos</h4>
                    <p>
                        Puerto Madero es un área renovada cercana al muelle. Contiene restaurantes de carnes de lujo populares entre los turistas y los que están de almuerzo de
                        negocios, elegantes rascacielos y departamentos de alto valor.Los senderos recorren varios lagos en la rica Reserva Ecológica Costanera Sur, que atrae a familias y
                        corredores.
                        </p>
                </div>
            </section>
            <section>
                <img src="/images/barriochino.png">
                <div>
                    <h2>BARRIO CHINO</h2>
                    <div>
                        <img src="/images/maps.svg">
                        <p>Barrio de Belgrano, CABA
                        </p>
                    </div>
                    <h4>Temática: Recorrido con entretenimientos</h4>
                    <p>
                        El Barrio Chino de Buenos Aires es una porción del barrio de Belgrano con una identidad marcadamente
                oriental, que se definió así gracias a una oleada inmigratoria durante la década de 1980 en la que se
                establecieron muchas familias de inmigrantes asiáticos, principalmente de Taiwán. Incluye numerosos
                restaurantes de cocina asiática.
                </p>
                </div>
            </section>
    </main>
    
</body>