<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logodefinitivo.png">
    <link rel="stylesheet" href="estilos.css">
    <title>Hotelería</title>
</head>

<body>
<main class="main-restaurantes-hoteles">
        <img src="/images/bannerhoteles.jpeg">
        <h2>Estancias de Ensueño</h2>
        <p>Encontrar el hotel perfecto es esencial para disfrutar de una experiencia de viaje completa. 
            Ya sea que busques lujo, comodidad o simplemente un lugar acogedor donde descansar, Buenos Aires 
            ofrece una amplia variedad de opciones que se adaptan a todas tus necesidades. Entendemos que cada 
            viajero es único y que la elección del alojamiento puede marcar una gran diferencia en tu aventura. 
            Por eso, hemos seleccionado una  lista de los mejores hoteles de Buenos Aires para asegurarnos de 
            que tu estancia sea tan memorable como la ciudad misma.
        </p>
            <section>
            <img src="/images/hilton.png">
            <div>
                <div>
                    <h2>HILTON</h2>
                    <div>
                        <img src="/images/maps.svg">
                        <p>Macacha Güemes 351, CABA</p>
                    </div>
                    <p> 
                        Este moderno hotel con un impresionante atrio se encuentra en el lujoso distrito de Puerto Madero, a 12
                hay un restaurante. un  bar y una cafetería. Incluye una piscina, un gimnasio y un sauna. 
                    </p>
                    <a href="https://www.hiltonbuenosaires-promos.com/">Sitio oficial del Hilton</a>
                    <ul>
                            <li>Tiene masajes</li>
                            <li>Fitness center</li>
                            <li>Room service</li>
                        </ul>
                        
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.9393725383206!2d-58.3661341249436!3d-34.605694557601396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a335ef4809ceef%3A0x3945c8c351477a54!2sHotel%20Hilton%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1718762434278!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section>
            <img src="/images/alvear.png">
            <div>
                <div>
                    <h2>ALVEAR</h2>
                    <div>
                        <img src="/images/maps.svg">
                        <p>Avenida Alvear 1891, CABA</p>
                    </div>
                    <p> 
                        Majestuoso por su arquitectura y decoración, el Alvear Palace Hotel es un referente de la hotelería de
                lujo a nivel mundial, que combina la elegancia europea con un impecable servicio personalizado. 
                    </p>
                    <a href="https://alvearpalace.com/">Sitio oficial de El Alvear</a>
                    <ul>
                            <li>Tiene SPA</li>
                            <li>Desayuno incluido</li>
                            <li>Habitación de lujo</li>
                        </ul>
                        
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13138.621825131779!2d-58.405325992187514!3d-34.587583599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaa37c9450ad%3A0x9cdf7e292ed4c101!2sAlvear%20Palace%20Hotel!5e0!3m2!1ses!2sar!4v1718761978569!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section>
            <img src="/images/faena.png">
            <div>
                <div>
                    <h2>FAENA</h2>
                    <div>
                        <img src="/images/maps.svg">
                        <p>Martha Salotti 445, CABA</p>
                    </div>
                    <p> 
                        Las habitaciones y suites elegantes ofrecen servicio de conserjería personal, muebles de cuero y baño de
                mármol, además de TV de pantalla plana y Wi-Fi gratis. Algunas cuentan con lámparas de araña o bañera
                con hidromasaje. Muchas incluyen vistas al río, el parque o la ciudad.
                    </p>
                    <a href="https://www.faena.com/buenos-aires">Sitio oficial de Faena </a>
                    <ul>
                            <li>Tiene bares</li>
                            <li>Eventos especiales</li>
                            <li>Room service</li>
                        </ul>
                        
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.5871901043724!2d-58.366421324714025!3d-34.61459879827277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a334d70d47d281%3A0x98627cf4e8b88993!2sRESIDENCE%20MASTER%20SUITE%20EN%20PORTE%C3%91O%20BUILDING!5e0!3m2!1ses!2sar!4v1718762245472!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>
        </section>
        <section>
            <img src="/images/duhau.png">
            <div>
                <div>
                    <h2>PALACIO DUHAU</h2>
                    <div>
                        <img src="/images/maps.svg">
                        <p>Av. Alvear 1661, CABA</p>
                    </div>
                    <p> 
                        Este hotel de lujo, ubicado en un palacio neoclásico y en un edificio contiguo, se encuentra a 2 km de
                        la ópera en el Teatro Colón y a 3 km de la Casa Rosada, el palacio presidencial.
                    </p>
                    <a href="https://www.palacioduhauexperience.com/"> Sitio oficial de El Palacio Duhau</a>
                    <ul>
                            <li>Tiene restaurantes</li>
                            <li>Incluye SPA</li>
                            <li>Room service</li>
                        </ul>
                        
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.6022936742943!2d-58.388515774944345!3d-34.58892845671613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccabb2e3f7af9%3A0x2b820ee8b1a83f72!2sPalacio%20Duhau%20-%20Park%20Hyatt%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1718762276287!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        <section>
            <img src="/images/marriott.png">
            <div>
                <div>
                    <h2>MARRIOTT</h2>
                    <div>
                        <img src="/images/maps.svg">
                        <p>Carlos Pellegrini 551, CABA</p>
                    </div>
                    <p> 
                        Este hotel de lujo, con vista a la famosa Avenida 9 de Julio, se ubica a 3 minutos a pie del Teatro
                Colón y a 1 km del palacio presidencial, la Casa Rosada.
                    </p>
                    <a href="https://www.marriott.com/es/hotels/buemb-buenos-aires-marriott/overview/"> Sitio oficial de Marriott</a>
                    <ul>
                            <li>Room Service</li>
                            <li>Desayuno incluido</li>
                            <li>Eventos especiales</li>
                        </ul>
                        
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6568.17853892392!2d-58.38896474609376!3d-34.6019041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc86feac62fb3%3A0x482fc4977f2c5f44!2sBuenos%20Aires%20Marriott!5e0!3m2!1ses!2sar!4v1718762300702!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
        
        <div class="preview-index">
                <h2>Otros hoteles similares</h2>
                <p>Algunos hoteles seleccionados en distintos lugares para vivir una maravillosa experiencia</p>
            <div>
                @for (int i = 3; i < 6; i++)
                {
                <div>
                    <a></a>
                    <img src="/images/@ViewBag.ListaFotos[i]">
                    <p>@ViewBag.ListaBio[i]</p>
                </div>
                }
        </div>

    </main>
    </body>