<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logodefinitivo.png">
    <link rel="stylesheet" href="estilos.css">
    <title>Restaurantes</title>
</head>

<body>
<main class="main-restaurantes-hoteles">
    <img src="/images/bannerrestaurantes.jpeg">
    <h2>Experiencias inolvidables</h2>
    <p>
        Cuando pienses en un restaurante que cumpla con todas las expectativas (servicio excepcional, platos deliciosos y demás), 
        probablemente tengas en mente uno de estos lugares.
        
        Entendemos que una de las joyas de cualquier viaje es la experiencia culinaria. 
        Viajar no solo se trata de descubrir nuevos lugares, sino también de explorar los sabores únicos que cada destino ofrece. 
        Por eso, hemos seleccionado una lista de los mejores restaurantes de Buenos Aires para hacer de tus aventuras algo realmente inolvidable.
    
    </p>
    <section>
        <img src="/images/donjulio.png" alt="No se puede ver la imagen, disculpe">
        <div>
            <div>
                <h2>Don Julio</h2>
                <div>
                    <img src="/images/maps.svg">
                    <p>Guatemala 4699, CABA</p>
                </div>
                <p> 
                    Famoso por sus deliciosas carnes argentinas a la parrilla
                    y su ambiente acogedor y tradicional.
                    Es un lugar ideal para probar un auténtico asado argentino.
                </p>
                <a href="https://parrilladonjulio.com/">Sitio web oficial</a>
                    <ul>
                        <li>Requiere reserva</li>
                        <li>Al aire libre</li>
                        <li>Platos veganos</li>
                    </ul>
                    
            </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13138.8213201408!2d-58.4242047!3d-34.5863219!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb586ea7789a1%3A0x5f51f7dc0f6a6859!2sDon%20Julio!5e0!3m2!1ses!2sar!4v1718247922303!5m2!1ses!2sar" 
                style="border:0;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </section>
    <section class="reseñas-restaurantes">
        <div>
            <div>
                <h3>Dami_Asman</h3>
                <div>
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                </div>
            </div>
            <p>La verdad que el lugar está buenisimo y me gustaría que incluyan comida de perro.&#x1F415;</p>
            </div>
        <div>
            <div>
                <h3>MiduDev</h3>
                <div>
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                </div>
            </div>
            <p>Recomiendo ir al mediodía porque a la noche está muy lleno y hay mucho ruido. &#x1F442;</p>
        </div>
    </section>
    <section>
        <img src="/images/lacabrera.png" alt="No se puede ver la imagen, disculpe">
        <div>
            <div>
                <h2>La Cabrera</h2>
                <div>
                    <img src="/images/maps.svg">
                    <p>José Antonio Cabrera 5099, CABA</p>
                </div>
                <p> 
                    Otro excelente lugar para disfrutar de carnes a la parrilla,
                    con una destacada selección de cortes y acompañamientos.
                    También es conocido por su carta de vinos.
                </p>
                <a href="https://www.lacabrera.com.ar/">Sitio web oficial</a>
                    <ul>
                        <li>Abierto todos los días</li>
                        <li>Al aire libre</li>
                        <li>Se requieren reservas</li>
                    </ul>
                    
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.598854474344!2d-58.43585082339291!3d-34.58901545672342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb58972d71fbf%3A0xa081e419157693c5!2sLa%20Cabrera!5e0!3m2!1ses!2sar!4v1718311063708!5m2!1ses!2sar" 
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </section>

    <section class="reseñas-restaurantes">
        <div>
            <div>
                <h3>Stancanelli</h3>
                <div>
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                </div>
            </div>
            <p>Las carnes son un lujo, las personas que nos atendían eran super amables, totalmente recomendable.&#128513;</p>
        </div>
        <div>
            <div>
                <h3>IanJolo</h3>
                <div>
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                </div>
            </div>
            <p>No lo conocía y la verdad me sorprendió, me pedí un ojo de bife y estaba un poco rojo, el resto espectacular. &#x1F44D; </p>
        </div>
    </section>

    <section>
        <img src="/images/preferidodepalermo.png" alt="No se puede ver la imagen, disculpe">
        <div>
            <div>
                <h2>El Preferido de Palermo</h2>
                <div>
                    <img src="/images/maps.svg">
                    <p>Jorge Luis Borges 2108, CABA</p>
                </div>
                <p> 
                    Con una decoración vintage y un ambiente encantador,
                    este restaurante ofrece platos tradicionales argentinos con 
                    un toque contemporáneo, destacando sus pastas y pescados.
                </p>
                <a href="https://www.instagram.com/elpreferidodepalermo/?hl=es">Instagram oficial</a>
                    <ul>
                        <li>Buenos cócteles</li>
                        <li>Al aire libre</li>
                        <li>Platos tradicionales</li>
                    </ul>
                    
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.74120729805!2d-58.427925123392946!3d-34.585414256533326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb58684ecac45%3A0x8572b89bfa6d3373!2sEl%20Preferido%20de%20Palermo!5e0!3m2!1ses!2sar!4v1718311359744!5m2!1ses!2sar" 
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </section>

    <section class="reseñas-restaurantes">
        <div>
            <div>
                <h3>AbrilVS08</h3>
                <div>
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                </div>
            </div>
            <p>¡Muy linda exeperiencia! Los platos son INCREÍBLES. Lo único criticable es que no tienen WiFi. &#x1F37D;	</p>
        </div>
        <div>
            <div>
                <h3>MauriCeriana</h3>
                <div>
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                </div>
            </div>
            <p>El mejor lugar que visité en muchos años, super recomendable, ¡Las pastas son de otro mundo! &#128513;</p>
        </div>
    </section>
    
    <section>
        <img src="/images/fervor.png" alt="No se puede ver la imagen, disculpe">
        <div>
            <div>
                <h2>Fervor</h2>
                <div>
                    <img src="/images/maps.svg">
                    <p>Posadas 1519, CABA</p>
                </div>
                <p> 
                    Especializado en cocina argentina e internacional,
                    Fervor es conocido por su excelente calidad de comida y
                    su atención al detalle. Ideal para una cena elegante.
                </p>
                <a href="https://fervorbrasas.com.ar/">Sitio web oficial</a>
                    <ul>
                        <li>Tiene Wi-Fi</li>
                        <li>Tiene asientos aire libre</li>
                        <li>Se requieren reservas</li>
                    </ul>
                    
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.6673682328205!2d-58.38990642339291!3d-34.58728225663183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaa4ed22e001%3A0xc0f1d7b3cb5e087f!2sFervor!5e0!3m2!1ses!2sar!4v1718315534753!5m2!1ses!2sar" 
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </section>

    <section class="reseñas-restaurantes">
        <div>
            <div>
                <h3>JimeZapolski</h3>
                <div>
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                </div>
            </div>
            <p>Muy buen lugar, ubicado en una zona muy estratégica, WiFi super rápido y muy buena vibra, SIGAN ASÍ!!! &#128513;</p>
        </div>
        <div>
            <div>
                <h3>JuliMedina</h3>
                <div>
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                    <img src="/images/estrellacompleta.svg">
                </div>
            </div>
            <p>NO LO RECOMIENDO PARA NADA, ME ENCONTRÉ UN PELO EN MI COMIDA Y NI ME DEVOLVIERON LA PLATA, NO VAYAN! &#x1F621;	</p>
        </div>
    </section>

     <div class="preview-index">
                <h2>Otros restaurantes similares</h2>
                <p>Algunos hoteles seleccionados en distintos lugares para vivir una maravillosa experiencia</p>
            <div>
                @for (int i = 3; i < 6; i++)
                {
                <div>
                    <a></a>
                    <img src="/images/@ViewBag.ListaFotos[i]">
                    <p>@ViewBag.ListaBio[i]</p>
                </div>
                }
        </div>

</main>
</body>